#fondo {
    width: 400px;
    height: 550px;
    background-color: rgb(48, 126, 199);
    border-radius: 30px;
    place-items: center;
    /*Sombra 82*/
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    

}
#charizardx {
    width: 300px;
    height: 300px;
    
}
#color {
    background-color: blue;
    width: 500px;
}
body {
    background-color: blue;
    place-items: center;
}
#tipo {
    display: flex;
    width: 90px;
    height: 18px;
    justify-content: center;
    
}
#peso {
    background-color: rgb(194, 194, 219);
    border-radius: 10px;
    width: 160px;
    height: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    letter-spacing: 2px;
    
    
}
#altura {
    background-color: rgb(194, 194, 219);
    border-radius: 10px;
    width: 160px;
    height: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    letter-spacing: 2px;
    
    
}
#color {
    background-color: rgb(194, 194, 219);
    border-radius: 10px;
    width: 160px;
    height: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    letter-spacing: 2px;
    
    
}
#ccolor {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
#title {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}